primary-color = #C70000;

@font-face {
  font-family: 'moon';
  src: url('../fonts/moon.woff') format('woff');
}

body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    background: #0B0B0B;
    /* background: url('../img/subtle_carbon_@2X.png'); */
    /* background-size: 18px 15px; */
    overflow: hidden;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    margin: 0 1em;
}

a.next {
    right: 0%;
    left: auto;
}

a.previous {
    right: auto;
    left: 0%;
}

#chart {
    top: auto;
    right: 3rem;
    bottom: -7px;
    left: 3rem;
    position: absolute;
    overflow-y: hidden;
    background: url('../img/subtle_carbon_@2X.png');
    background-blend-mode: screen;
    background-size: 18px 15px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    z-index: -1;
}

#grid {
    top: auto;
    right: 3rem;
    bottom: -7px;
    left: 0rem;
    position: absolute;
    overflow: hidden;
    z-index: 2;
    pointer-events: none;
}

.height-grid {
    position: fixed;
}

.controls {
    position: absolute;
    display: none;
    bottom: 1em;
    text-align: center;
    right: 0;
    width: 400px;
}

.inspected-tide-value,
.current-tide-value {
    font-size: 55px;
    font-weight: 300;
    text-anchor: start;
    alignment-baseline: text-before-edge;
}

.inspected-time,
.current-time {
    font-size: 22px;
    font-weight: 300;
    text-anchor: start;
    alignment-baseline: text-before-edge;
}
.current-tide-value {
    font-weight: 400;
    alignment-baseline: auto;
    display: inline;
}
.current-tide-value tspan {
    font-weight: 300;
    display: inline;
}

.inspected-time,
.inspected-tide-value {
    font-size: 22px;
    text-transform: lowercase;
    alignment-baseline: text-after-edge;
}


path {
    stroke: primary-color;
    stroke-width: 2px;
    /* fill: none; */
    fill: primary-color;
}
 
line {
    stroke: black;
}

.area {
    stroke: transparent;
    /* fill: #A9A9A9; */
    fill: transparent;
    display: none;
}

.duckduck {
    background: red;
}
.overlay {
    fill: transparent;
    stroke: transparent;
}

.current-marker {
    stroke: primary-color;
    stroke-width: 1;
    shape-rendering: crispEdges;
    stroke-linecap: square;
}

.solar {
    stroke: primary-color;
    stroke-width: 2;
    shape-rendering: crispEdges;
    stroke-linecap: square;
}

.day {
    fill: rgba(primary-color, .1);
}

.color {
    fill: none;
    stroke: primary-color;
}

.current-point {
    stroke-width: 5;
    fill: primary-color;
}

.time-label {
    font-size: 22px;
    text-anchor: start;
    font-weight: 300;
    text-transform: lowercase;
}

.date-label {
    text-anchor: middle;
    font-size: 14px;
    text-transform: uppercase;
}

.time-ticks,
.time-long-ticks,
.midnight-ticks {
    stroke: primary-color;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.midnight-ticks {
    stroke-width: 4;
}

.height-label {
    alignment-baseline: text-after-edge;
    text-anchor: end;
}

.height-ticks {
    stroke: transparent;
    stroke-width: 1;
    shape-rendering: crispEdges;
    /* display: none; */
}

text {
    font-family: 'Fira Sans', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 22px;
    font-weight: 300;
    fill: primary-color;
}

.styled-select {
    display: inline-block;
    position: relative;
    padding: 3px 5px;
    margin-top: -3px;
    cursor: pointer;
    z-index: 9;
    font-weight: 300;
    position: absolute;
}

.styled-select:hover {
    color: #fff;
    background: black;
}

.styled-select div:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 11px solid primary-color;
    content: '';
    opacity: .8;
    margin-top: -5px;
    margin-left: 9px;
    position: absolute;
    top: 50%;
}

.styled-select:hover div:after {
    border-top: 11px solid #fff;
    opacity: .75;
}

.styled-select select {
    opacity: 0;
    position: absolute;
    border: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    cursor: pointer;
}

.styled-select {
    right: 0;
    color: primary-color;
    font-size: 25px;
    margin: 32px 32px 0;
    padding: 1.25em 1.5em 1em 1em;
    border-radius: .5em;
    line-height: 0;
}

.current-point {
    fill: primary-color;
}
.horizontal-marker,
.vertical-marker {
    fill: primary-color;
    stroke: primary-color;
    shape-rendering: crispEdges;
}

.tick-background {
    fill: rgba(0, 0, 0, 0);
}

.special {
    text-transform: initial;
}

.high-and-low {
    color: primary-color;
    font-size: 150%;
    list-style: none;
    font-weight: 300;
    margin: 1rem 0;
    line-height: 1.25;
    float: left;
    position: relative;
    /* margin: -1rem 0 0; */
}

.high-and-low ul {
    list-style: none;
}

.high-and-low li {
    margin: .5rem 0;
}

strong {
    font-weight: 400;
}

h1 {
    color: primary-color;
    font-size: 5em;
    font-weight: 400;
    margin: 0;
    float: left;
}

.moon-background {
    color: primary-color;
    font-family: moon;
    font-size: 3.8rem;
    position: absolute;
    left: 50%;
    top: -1rem;
    padding: 4.05rem;
}

.moon {
    color: black;
    font-family: moon;
    font-size: 4em;
    position: absolute;
    left: 50%;
    top: -1rem;
    padding: 1em;
    /* text-transform: uppercase; */
}

.date {
    display: none;
}

.current {
    margin-left: 5rem;
}
.current p {
    margin: 2rem 0 -0.5rem 0rem;
}
