body {
    font-family: 'Source Sans Pro';
    margin: 0;
    background: #1B2330;
    overflow: hidden;
}

#chart {
    top: 0;
    right: 0;
    bottom: 0px;
    left: 0;
    position: absolute;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    z-index: -1;
}

#grid {
    top: 0;
    right: 0;
    bottom: 0px;
    left: 0;
    position: absolute;
    overflow: hidden;
    z-index: 2;
    pointer-events: none;
}

.height-grid {
    position: fixed;
}

.controls {
    position: absolute;
    display: none;
    bottom: 1em;
    text-align: center;
    right: 0;
    width: 400px;
}

.inspected-tide-value,
.current-tide-value {
    font-size: 55px;
    font-weight: 200;
    alignment-baseline: text-before-edge;
}

.inspected-time,
.current-time {
    font-size: 22px;
    font-weight: 200;
    alignment-baseline: text-before-edge;
}
.current-tide-value {
    font-weight: 600;
    alignment-baseline: text-before-edge;
    display: inline;
}
.current-tide-value tspan {
    font-weight: 200;
    display: inline;
}

.inspected-time,
.inspected-tide-value {
    font-size: 22px;
    text-transform: lowercase;
    alignment-baseline: text-after-edge;
}


path {
    stroke: rgb(255, 255, 255);
    stroke-width: 2px;
    /* fill: none; */
    fill: rgb(0, 25, 44);
}
 
line {
    stroke: black;
}

.area {
    stroke: transparent;
}

.overlay {
    fill: transparent;
    stroke: transparent;
}

.current-marker {
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 1;
    shape-rendering: crispEdges;
    stroke-linecap: square;
}

.solar {
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 2;
    shape-rendering: crispEdges;
    stroke-linecap: square;
}

.day {
    fill: rgba(199, 242, 255, 0.09);
}

.color {
    fill: none;
    stroke: rgba(255, 255, 255, 1);
}

.current-point {
    stroke-width: 5;
    fill: white;
}

.time-label {
    font-size: 22px;
    text-anchor: start;
    font-weight: 200;
    text-transform: lowercase;
}

.date-label {
    text-anchor: middle;
    font-size: 14px;
    text-transform: uppercase;
}

.time-ticks,
.time-long-ticks,
.midnight-ticks {
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.midnight-ticks {
    stroke-width: 4;
}

.height-label {
    alignment-baseline: text-after-edge;
    text-anchor: end;
}

.height-ticks {
    stroke: rgba(255, 255, 255, 0.16);
    stroke-width: 1;
    shape-rendering: crispEdges;
}

text {
    font-family: 'Source Sans Pro';
    text-rendering: optimizeLegibility;
    font-size: 22px;
    font-weight: 200;
    fill: white;
}

.styled-select {
    display: inline-block;
    position: relative;
    padding: 3px 5px;
    margin-top: -3px;
    cursor: pointer;
    z-index: 9;
    font-weight: 200;
}

.styled-select:hover {
    color: #fff;
    background: black;
}

.styled-select div:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 11px solid;
    content: '';
    opacity: .5;
    margin-top: -3px;
    margin-left: 9px;
    position: absolute;
    top: 50%;
}

.styled-select:hover div:after {
    border-top: 11px solid #fff;
    opacity: .75;
}

.styled-select select {
    opacity: 0;
    position: absolute;
    border: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    cursor: pointer;
}

.styled-select {
    position: absolute;
    right: 0;
    color: white;
    font-size: 37px;
    margin: 32px;
    padding: .25em 1em .25em .75em;
    border-radius: .5em;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.18);
}

.current-point {
    fill: white;
}
.horizontal-marker,
.vertical-marker {
    fill: white;
    stroke: white;
    shape-rendering: crispEdges;
}

.tick-background {
    fill: rgba(0, 0, 0, 0);
}

.special {
    text-transform: initial;
}
